version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"  # Map host port 8080 to container port 80
    volumes:
      - .:/var/www/html  # Mount source code into the container
    depends_on:
      - db

  db:
    image: mysql:latest
    env_file:
      - .env
    volumes:
      - ./migrations/tonality.sql:/docker-entrypoint-initdb.d/tonality.sql:ro
    ports:
      - "9906:3306"  # Map host port 5432 to container port 5432
