.album-card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.sort-filter-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    height: 550px;
}