.album-page-controls {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.add-album-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: auto;

    background-color: #151515;
    transition: background-color 0.2s;

    border-radius: 5px;
    border-color: transparent;
}

.add-album-btn:hover {
    background-color: #2b2b2b;
    border-radius: 5px;

    cursor: pointer;
}

.sort-filter-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    height: 550px;
}

.album-card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}