.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination-item {
    display: inline-block;

    text-align: center;

    min-width: 20px;
    min-height: 20px;

    padding: 5px;

    margin: 0 5px;

    background-color: #151515;
    border-radius: 5px;

    color: white;
    text-decoration: none;

    transition: background-color 0.2s;
}

.pagination-item:hover {
    background-color: #2b2b2b;
}

.current {
    background-color: #259793;
}

.current:hover {
    background-color: #2ebab5;
}