.playlist-card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.add-playlist-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;

    width: 35px;
    height: auto;

    background-color: #151515;
    transition: background-color 0.2s;

    border-radius: 5px;
    border-color: transparent;
}

.add-playlist-btn:hover {
    background-color: #2b2b2b;
    border-radius: 5px;

    cursor: pointer;
}
